.gradient-text {
  font-family: Rozha One;

  background: linear-gradient(275deg, #261b97 0.79%, #913dc4 92.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
